<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>External Resources - Watershed Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1>External Resources</h1>
        <nav>
            <a href="/">Site Info</a>
            <a href="/flow_prediction">Flow Prediction</a>
            <a href="/nwm_assessment">NWM Assessment</a>
            <a href="/external_resources">External Resources</a>
        </nav>
    </header>

    <section id="research-papers">
        <h2>Research Papers</h2>
        
            <p><a href="https://onlinelibrary.wiley.com/doi/10.1111/1752-1688.13184" target="_blank">Cosgrove, Brian, et al. “NOAA’s National Water Model: Advancing Operational Hydrology through continental‐scale modeling.” JAWRA Journal of the American Water Resources Association</a></p>
            <p><a href="#" target="_blank">Placeholder for Mirce's Paper</a></p>
        
    </section>

    <section id="github-repo">
        <h2>Project Repository</h2>
        <p>Visit the project's GitHub repository:</p>
        <a href="https://github.com/your-repo-link" target="_blank">GitHub Repository</a>
    </section>
</body>
</html>
